{% extends 'car_base.html' %}

{% block title %}
<title>Add Car | CarHub</title>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">

        <div class="col-lg-8">

            <div class="card shadow-lg border-0 rounded-4">

                <div class="card-header bg-dark text-white text-center py-3">
                    <h2>🚗 Add New Car</h2>
                    <p class="mb-0">Fill in the details below</p>
                </div>

                <div class="card-body p-4">

                    <form method="POST">

                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <label class="form-label">
                                     Name
                                </label>

                                <input type="text"
                                       name="name"
                                       class="form-control"
                                       placeholder="BMW X5"
                                       required>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">
                                    Brand
                                </label>

                                <input type="text"
                                       name="brand"
                                       class="form-control"
                                       placeholder="BMW"
                                       required>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <label class="form-label">
                                    Model Year
                                </label>

                                <input type="number"
                                       name="model_year"
                                       class="form-control"
                                       placeholder="2026"
                                       required>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">
                                    Price (₹)
                                </label>

                                <input type="number"
                                       name="price"
                                       class="form-control"
                                       placeholder="2500000"
                                       required>
                            </div>

                        </div>



                        <div class="mb-3">
                            <label class="form-label">
                                Car Image URL
                            </label>

                            <input type="text"
                                   name="image"
                                   class="form-control"
                                   placeholder="https://example.com/car.jpg">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">
                                Descreption
                            </label>

                            <textarea name="descreption"
                                      rows="5"
                                      class="form-control"
                                      placeholder="Enter car details..."></textarea>
                        </div>

                        <div class="d-grid">
                            <button type="submit"
                                    class="btn btn-primary btn-lg">
                                Add Car
                            </button>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>
</div>

{% endblock %}